include CMakeLists.txt CHANGELOG.md LICENSE README.md
recursive-include cpp *.cpp *.h
recursive-include docs *.md
recursive-include src *.py *.pyi py.typed
global-exclude *.py[cod]
prune **/__pycache__
